
Data/Maps/Map_of_Charlotte_1877_modified.tif
Original-Data/Maps/Map_of_Charlotte_1877_modified.tif
Original-Data/Maps/v2Meck map.png
Original-Data/Maps/v2Meck map.png.aux.xml
Original-Data/Maps/v2Meck map.png.points
Original-Data/Maps/v2Meck map_modified.tif
Original-Data/Maps/v2Meck map_modified.tif.aux.xml
Original-Data/Maps/Charlotte_Map_of_Greater_Charlotte_and_Mecklenburg_County_1955_modified.tif
Original-Data/Maps/Charlotte_Official_Map_of_Charlotte_Copy_2_1935_modified.tif
