
Data/Maps/Map_of_Charlotte_1877_modified.tif
Original-Data/Maps/Map_of_Charlotte_1877_modified.tif
Original-Data/Maps/v2Meck map.png
Original-Data/Maps/v2Meck map.png.aux.xml
Original-Data/Maps/v2Meck map.png.points
Original-Data/Maps/v2Meck map_modified.tif
Original-Data/Maps/v2Meck map_modified.tif.aux.xml
